* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.nav-container {
    position: fixed;
    bottom: 30px;

    width: 100vw;
    height: 60px;
}

.main-nav {
    
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
}

.btn {
    padding: 14px 28px;
    font-size: 16px;
    
    border-radius: 16px;

    text-decoration: none;

    border: 2px solid black;
    background-color: white;
    color: black;

}

.btn-register {
    background-color: black;
    color: white;
}

.btn-login {
    
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;

    -moz-transition: color 2s;
    -o-transition: color 2s;
    transition: color 2s;
}

.btn-login:hover {
    
    color: black;
    background-color: white;
}
