

/**
	---------------------------------
	KÄYTETYT VÄRIT
	---------------------------------
	Body (tausta)		000000
	Tumma pääväri		264653
	Vaalea pääväri		2A9D8F
	Navi (hover)		E76F51

	Linkki (normaali)	E76F51
	Linkki (hover)		E9C46A
	Table header		E9C46A
	Table cell			2A9D8F
	Kommentti (tausta)	FFF5C3
	Kommentti (väri)	264653
	Table (linkit)		E9C46A
*/

body {
	font-family: Calibri, Verdana;
	color: #000000;
	padding-left:5px;
}

H1 {
	font-size: 150%;
	font-family: Calibri, Verdana;
	color: #264653;
}

H2 {
	font-size: 130%;
	font-family: Calibri, Verdana;
	color: #264653;
}


H3 {
	font-size: 100%;
	font-family: Calibri, Verdana;
	color: #E9C46A;
}


H4 {
	font-size: 100%;
	font-family: Calibri, Verdana;
	color: #E76F51;
}

H5 {
	font-size: 100%;
	font-family: Calibri, Verdana;
	color: #E9C46A;
}

a:link {
	color: #E76F51;
}

a:visited {
	color: #E76F51;
}

a:hover{
	color: #E9C46A;
}

pre {
	background:#FFF5C3;
}

table {
	vertical-align:top;
	border-style:none;
	border-width:0px;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding-top:0px;
	padding-right:0px; 				
	padding-bottom:0px; 				
	padding-left:0px;	
	color:black;
	font-family:Calibri, Verdana;
	font-size: 75%;
}

table.linkit {
	background:#E9C46A;
	width:100%;
	border-top:0px;
	border-right:0px;
	border-bottom:0px;
	border-left:0px;
	padding:0px;
	color:#000000;
	font-family:verdana,tahoma,arial,sans-serif;
}				

th {
	background:#E9C46A;
	color:#FFFFFF;
	vertical-align:top;
	text-align: left;
	padding:2px;
	border:0px;
	border-width:0px;
	margin:3px;
}

td {
	background:#e0e0eb;
	vertical-align:top;
	text-align: left;
	padding:2px;
	border:0px;
	border-width:0px;
	margin:3px;
}
					
				
								
td.linkit	{ 
	background:#E9C46A;
	font-family:verdana,tahoma,arial,sans-serif;
	font-size:80%;
	font-weight:bold;
	margin:0px;
	width: 100%;
	height:1.2em;
	padding-left:1em;
	border-top: 2px solid #c0c0c0;
	border-right: 1px solid #808080;
	border-bottom: 2px solid #808080;
	border-left: 1px solid #c0c0c0;
}

tr {
	background-color:#FFFFFF;
	vertical-align:middle;
	padding:2px;
	border:0px;
	border-width:0px;
	margin:3px;
	text-align: center;
}
tr.otsikko {
	background-color:#264653;
	color:#FFFFFF;
	vertical-align:middle;
	padding:2px;
	border:0px;
	border-width:0px;
	margin:3px;
	text-align: center;
}
tr.sijoitus {
	background-color:#FCED92;
	color:#000000;
	vertical-align:middle;
	padding:2px;
	border:0px;
	border-width:0px;
	margin:3px;
	text-align: center;
	
}


/* 	----------------------------------------------------
	Header
	----------------------------------------------------*/
#header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	max-width:775px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#2A9D8F;
}

#header h1 {
	padding-left:5px;
	font-size: 150%;
	font-family: Calibri, Verdana;
	color: #FFFFFF;
}

#header h4 {
	padding-left:5px;
	font-size: 120%;
	font-family: Calibri, Verdana;
	color: #FFFFFF;
}
/* 	----------------------------------------------------*/


/* 	----------------------------------------------------
	Footer
	----------------------------------------------------*/
#footer {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	max-width:775px;
	padding-top:2px;
	padding-bottom:2px;
	background-color:#2A9D8F;
}

#footer p {
	font-family: Calibri, Verdana;
	color: #FFFFFF;
	font-size: 80%;
	padding-left:5px;
}
/* 	----------------------------------------------------*/

/*	----------------------------------------------------
	Infot
	----------------------------------------------------*/
#info {
	float: right;
	max-width: 175px;
	padding-left:25px;
	position: relative;
}
	

.navi {
	max-width:775px;
	padding-top:0px;
	margin-top:0px;
	background: #264653; 
	border-bottom: 0px solid #FFFFFF;
	margin: 0; 
	padding: 0;
	height: 30px;
}

.navi a { 
	text-decoration: none; 
	color: #FFFFFF;
	background-color: #264653;
	border-right: 2px solid #FFFFFF; 
	border-bottom: 0;
	padding: 5px 12px;
	float: left;
	font-weight: bold;
}
	
.navi a:hover { 
	background-color: #E76F51; 
	color: #FFFFFF; 
}

.navi a.on { 
	background-color: #141416; 
	color: #FFFFFF; 
}


#sisalto {
	max-width:775px;
	padding-top:0px;
	margin-top:0px;

}


.korostus {
	color: #E76F51;
	font-family: "Courier New", Courier, monospace;
	font-size: 85%;
}

.lainaus {
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #333;
	left: 50px;
	font-style: italic;
	clip: rect(auto,50px,auto,50px);
	right: 50px;
	width: 75%;
	position: relative;
}
.pois {
	text-decoration: line-through;
}

.navi .icon {
    display: none;
}

@media screen and (max-width: 600px) {
  .navi a:not(:first-child) {display: none;}
  .navi a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navi.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navi.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
